@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-Regular.woff2') format('woff2');
    font-style: normal;
}
@font-face {
    font-family: Montserrat;
    src: url('../assets/fonts/Montserrat-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: Panton;
    src: url('../assets/fonts/Panton-ExtraBold.woff2') format('woff2');
    font-style: normal;
}