.masters {
    padding-bottom: clamp(100px, 7.67vw, 115px);
    &__text {
        max-width: 347px;
        margin-block: 20px 59px;
    }
    &__figure {
        margin-bottom: 10px;
        max-width: 350px;
        height: 350px;
    }
    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__info {
        display: flex;
        flex-direction: column;
        gap: 17px;
        height: 176px;
    }
    &__subtitle {
        color: rgb(149, 149, 149);         
    }
    &__descr {
        overflow-y: auto;
    }
}